/* Estilos generales para la barra lateral */
.sidebar {

    padding: 1rem; /* Padding alrededor de los elementos */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espacio entre los enlaces */
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out; /* Transición suave en el hover */
    cursor: pointer;
  }
  
  /* Estilos para enlaces */
  .sidebar-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Opcional: Estilos adicionales para íconos (aunque esto puede ser manejado por Tailwind directamente) */
  .sidebar-item svg {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
  }
  
  /* Activo */
  .sidebar-item.active {
    background-color: #4B5563; /* Fondo para el enlace activo */
    color: white;
  }
  
  /* Responsive: ocultar barra lateral en dispositivos pequeños */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%; /* Ocupa el 100% del ancho en dispositivos pequeños */
      height: auto;
    }
  }