.factura-page__container {
    @apply p-6 bg-gray-50 min-h-screen;
  }
  
  .factura-page__title {
    @apply text-3xl font-bold text-blue-950 mb-4;
  }

  .factura-page__sectiontitle {
    @apply text-2xl font-bold mb-4 text-blue-950;
  }
  .factura-page__section {
    @apply mb-6 p-4 bg-white border border-gray-300 rounded-lg shadow-sm mt-2;
  }
  
  .factura-page__grid {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4; /* Adjust column layout for responsiveness */
  }
  
  .factura-page__item {
    @apply p-4 bg-white border-l-blue-950 border-l-4 rounded-lg shadow-sm;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .factura-page__detalle-item,
  .factura-page__material-item {
    @apply mb-4 flex justify-between mt-2 items-center gap-4 p-2 border-b border-gray-200 flex-grow h-auto  grid grid-cols-3;
  }
  
  .factura-page__detalle-item:last-child,
  .factura-page__material-item:last-child {
    @apply border-none;
  }
  
  .factura-page__label {
    @apply font-semibold text-gray-700;
  }
  
  .factura-page__value {
    @apply text-gray-600;
  }
  
  .factura-page__edit-button-container {
    @apply  place-items-end -m-1;
    /* text-align: right;
    margin-bottom: 10px; */
  }
  
  .factura-page__save-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .factura-page__save-button:hover {
    background-color: #45a049;
  }
  
  .factura-page__cancel-button{
    @apply bg-red-500 text-white px-4 py-2 rounded-md ml-10;
  }