@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contenedor del Sidebar */
.sidebar {
  @apply flex flex-col h-full ml-3 mr-3 bg-white relative;
}

/* Contenedor Logo */
.top-item-container {
  @apply flex items-center justify-center shadow-lg  my-10;
}
/* Logo */
.top-item-element{
  @apply w-52 p-4 my-2;
}
/* Divisor */
.divider{
  @apply text-gray-500 text-sm font-medium border-b-2 border-gray-300 ml-2 mb-5;
}

/* Items de Principal */
.sidebar-item {
  @apply flex items-center rounded-lg font-semibold p-2 ml-3 mr-3 my-2 cursor-pointer text-gray-500;
}

/* Item logout */
.sidebar-lastitem {
  @apply flex items-center rounded-lg font-semibold ml-3 mr-3 my-2 p-2 cursor-pointer text-red-500 ;
}
.sidebar-lastitem:hover {
  @apply  bg-red-100;
}

.sidebar-item svg {
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  fill: currentColor; /* Toma el color del texto */
}

@media (max-width: 768px) {
  .sidebar {
    @apply w-full h-auto;
  }
}